<!DOCTYPE html>
<html>
<head>
  <title>Pica<%= ':' + yield(:title) if content_for?(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
